.container-about {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 4em 0;
  padding: 2rem;
}

.title {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.about-title {
  font-size: 40px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 2em;
  
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; */
  text-align: start;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

}
.container-personal-info {
  position: relative;
  min-height: 1px;
  /* padding-left: 40px;
  padding-right: 40px; */
  width: 100%;
}
@media (max-width: 600px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;
    margin-right: 0px;
  }
  .container-about{
    padding: 0rem;
  }
  .container-presentaion {
    width: 100% !important;
    /* padding-left: 10px;
    padding-right: 10px; */
  }
}
@media (max-width: 600px) {
  .container-personal-info {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .content-presentacion {

    text-align: justify;
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-presentaion {
  width: 80%;
}

.personal-data {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 10px 0;
}
.span {
  float: left;
  color: #000;
  font-weight: bold;
  /* padding: 4px 15px; */
  position: relative;
}
.info {
  margin: 0;
  padding: 20px;
  /* width: 100%; */
  margin: 0;
  /* width: 90%; */
}
.first-block {
  width: 40%;
  display: inline-block;
  color: #000;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}
.second-block {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  /* text-align: left; */
  width: 60%;
  font-size: 15px;
}
.title-hello {
  color: #000;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  font-size: 45px;
  text-align: center
}
.content-presetation {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: justify;
}
