.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background-color: #f6f6f6;
  
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.skills-container {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

.progress-ring {
  margin: 20px 0;
  position: relative;
}

.progress-ring__circle--bg {
  stroke-dasharray: 326;
  stroke-dashoffset: 0;
}

.progress-ring__circle {
  position: absolute;
  top: 0;
  left: 0;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.progress-ring__circle.visible {
  stroke-dashoffset: 326;
}

.skill-percentage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.skill-percentage.visible {
  opacity: 1;
}

.percentage-text {
  font-size: 24px;
  font-weight: bold;
  color: #f9423a;
}
